/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=block');
/* font-family: 'Oswald', sans-serif; */

/* DEFAULT STYLE (RESET) */

html, body {
    margin: 0;
    padding: 0;
    color: #111;
}

body {
    background-color: #888;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}

/* ----- */

#game-container {
    display: flex;
    width: 100vw;
    padding-top: 100px;
    min-width: 900px;
    justify-content: center;
}

.gameZone {
    background-color: #777;
    display: flex;
    width: 400px;
    min-width: 400px;
    height: 400px;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 100px;
    padding: 30px;
    background-image: url(../img/game-block-bg.png);
    background-size: contain;
}

.gameZone:first-child {
    margin-left: 0;
}

.game-block {
    width: 9%;
    height: 9%;
    margin: 0.5%;
}

/* PLAYER */

.player-block {
    background-color: darkblue;
}

.player-block:hover {
    background-color: lightblue;
}

.player-block:active {
    background-color: blue;
}

.block-placed, .block-placed:hover, .block-placed:active {
    background-color: darkslategrey;
}

.player-block-ready, .player-block-ready:hover, .player-block-ready:active {
    background-color: darkblue;
}

/* ENEMY */

.enemy-block {
    background-color: darkred;
}

.block-off, .block-off:hover, .block-off:active {
    background-color: #333;
}

.block-destroyed, .block-destroyed:hover, .block-destroyed:active {
    background-color: #000;
}

.enemy-block-killed, .enemy-block-killed:hover, .enemy-block-killed:active {
    background-color: darkgreen;
}

.player-block-killed, .player-block-killed:hover, .player-block-killed:active {
    background-color: darkviolet;
}

/* INDEX.PHP */

.container {
    display: block;
    text-align: center;
}

input, label, .lobbyDivs-text {
    display: block;
    margin: auto;
    margin-top: 50px;
    font-size: 1.5rem;
    font-family: 'Oswald', sans-serif;
    outline: 0;
}

input {
    width: 160px;
    text-align: center;
}

/* Hide arrows from input type=number */
/* https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button { /* Chrome, Safari, Edge, Opera */
  -webkit-appearance: none;
  margin: 0;
}


input[type=number] { /* Firefox */
  -moz-appearance: textfield;
}

/* ---------------------------------- */

#span-room-key {
    font-size: 1.8rem;
    font-weight: bold;
}

.lobby-rooms {
    display: block;
    width: 400px;
    height: 350px;
    padding-top: 20px;
    margin: auto;
    margin-top: 48px;
    background-color: #ffa07a;
    text-align: center;
    border: 4px solid #e77c51b7;
    border-radius: 48px;
}

#div-create-room {
    display: none;
}

#lobby-btn-container {
    text-align: center;
    margin-top: 30px;
}

button, input[type=submit] {
    padding: 12px;
    text-transform: uppercase;
    background-color: #eee;
    color: #000;
    font-family: 'Oswald', sans-serif;
    font-size: 1.3rem;
    border: 2px solid #555;
    border-radius: 8px;
    outline: none;
}

button:hover, input[type=submit]:hover {
    background-color: yellow;
    transition: .5s background-color;
    -webkit-transition: .5s background-color;
    -moz-transition: .5s background-color;
}

button:active, input[type=submit]:active {
    background-color: yellowgreen;
}

#lobby-btn-container > button:first-child {
    margin-right: 36px;
}

header {
    text-align: center;
    font-size: 1.5em;
}

#textToSpeech-div {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#textToSpeech-div > label {
    display: block;
    font-style: italic;
    font-size: 1.2em;
}

#textToSpeech-div > input {
    width: auto;
    transform: scale(1.5);
}

footer {
    text-align: right;
    margin-right: 5%;
}

footer > a {
    text-decoration: none;
    color: #111;
}

#input-join-key, #span-room-key{
    font-family: Arial, Helvetica, sans-serif;
}